body {
  overflow:hidden; /* This will remove the default scroll, not really needed, safer nonetheless */
}
html {
  font-size: 18px;
  -webkit-text-size-adjust: 20px;
      -ms-text-size-adjust: 20px;
  font-family: Georgia, Times, serif;
  line-height: 24px;
  color:#333;
  background:#fff;
  height: 100%;
}
body {
  height: 100%;
  margin: 0px;
}
h1 {
  font-family: Georgia, Times, serif;
  font-size: 52px;
  line-height: 1.3em;
  padding: 0px;
  margin: 0px;
  color:#ffd200;
}
h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1em;
  padding: 0px;
  margin: 0px;
}
h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
}
h4 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
}
h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
}
h6 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.3em;
}
code {
  font-size: 80%;
}
a[href^="http://"]{
  color: #d44;
  text-decoration: underline;
}
a[href^="https://"]{
  color: #d44;
  text-decoration: underline;
}
a[href^="javascript:"]{
  color: #44d;
  text-decoration: none;
}
A:hover {text-decoration: underline}
.headerbox {
  padding-left: 10px;
  background-color: #102955;
  color: #fff;
  box-shadow: 0px 3px 3px #999;
  text-shadow: 1px 2px 5px rgba(0,0,0,0.5);
}
.content-storage {
  display:none;
}
#column-container {
  margin: 0px;
  padding-top: 10px;
}
.addRemoveColumn {
  float:right;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.column-border-right {
  border-right: 2px solid;
}
.column {
  position:absolute;
  left: 0px;
  overflow:auto;
  border-color: #aa0;
  margin-left: 0px;
  margin-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  float: left;
}
#breadcrumbs {
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 10px;
  border-bottom: 1px solid;
  border-color: #aaa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.1);
  margin-bottom: 0px;
}
#breadcrumbs a {
  font-weight:bold;
}
#left-arrow {
  float: left;
  opacity:0.5;
  filter:alpha(opacity=50);
}
#right-arrow {
  float: right;
  opacity:0.5;
  filter:alpha(opacity=50);
}
#left-arrow:hover {
opacity:0.75;
filter:alpha(opacity=75);
}
#right-arrow:hover {
opacity:0.75;
filter:alpha(opacity=75);
}